# Dataframe.aggregate() function is used to apply some aggregation across one or more column.
# Aggregate using callable, string, dict, or list of string/callables. Most      frequently used aggregations are:
    sum: Return the sum of the values for the requested axis
    min: Return the minimum of the values for the requested axis
    max: Return the maximum of the values for the requested axis
    Other operations are-mean

In [1]:
import pandas as pd
data=pd.read_csv('iris.csv')
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [2]:
data.aggregate(['sum'])

,sepal.length,sepal.width,petal.length,petal.width,variety
sum,876.5,458.6,563.7,179.9,SetosaSetosaSetosaSetosaSetosaSetosaSetosaSeto...

In [3]:
data.aggregate(['min','max'])

     sepal.length  sepal.width  petal.length  petal.width    variety
min           4.3          2.0           1.0          0.1     Setosa
max           7.9          4.4           6.9          2.5  Virginica

In [5]:
data.agg({'sepal.length':['sum','min','max']})

     sepal.length
sum         876.5
min           4.3
max           7.9

In [6]:
data.agg({'sepal.length':['sum','min','max'],'petal.length':['sum','min','max']})

     sepal.length  petal.length
sum         876.5         563.7
min           4.3           1.0
max           7.9           6.9