# Pandas Provide Two Main data structure
# 1.Series
# 2.DataFrame

In [ ]:
A DataFrame object has two axes: “axis 0” and “axis 1”. “axis 0” represents rows and “axis 1” represents columns.

In [3]:
import pandas as pd
arr1= pd.Series([10,34,56,78,98])
arr2= pd.Series([43,56,78,34,12])
df= pd.DataFrame({'a':arr1,'b':arr2})
df

    a   b
0  10  43
1  34  56
2  56  78
3  78  34
4  98  12

In [5]:
df.sum(axis=0)

a    276
b    223
dtype: int64

In [6]:
df.sum(axis=1)

0     53
1     90
2    134
3    112
4    110
dtype: int64